[Unit]
Description=Scality RestBlock Driver
After=syslog.target network.target

# Check if configuration file exists
ConditionFileNotEmpty=/etc/srb.conf


[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/srb.conf

#
# Start
#
ExecStart=/usr/sbin/insmod ${KMOD_PATH}/${KMOD_NAME}.ko
ExecStart=/usr/bin/cp /sys/class/srb/add_mirrors /tmp/add_mirrors
ExecStart=/usr/bin/sed -r -e "s,.*,${MIRRORS}," -i /tmp/add_mirrors
ExecStart=/usr/bin/cp /tmp/add_mirrors /sys/class/srb/add_mirrors
ExecStart=/usr/bin/rm -f /tmp/add_mirrors

#
# Stop
#
ExecStop=/usr/bin/touch /tmp/add_mirrors
ExecStop=/usr/bin/cp /tmp/add_mirrors /sys/class/srb/add_mirrors
ExecStop=/usr/sbin/rmmod $KMOD_NAME
ExecStop=/usr/bin/rm -f /tmp/add_mirrors


[Install]
WantedBy=multi-user.target
